server {
    listen 8443;

    location = /nginx_status {
        stub_status  on;
        access_log   off;
    }

    location / {
        proxy_pass  http://backend_9000;
        proxy_http_version 1.1;
        proxy_redirect  off;
        proxy_buffering on;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header im-cname $ssl_client_s_dn_cn;
        proxy_set_header X-SSL-Issuer  $ssl_client_i_dn;
        proxy_set_header Connection "";
    }
}
